<div id="container" class="clearfix centered"> 

	<div class="box photo col3">
		<a href="uploads/default/files/portfolio/jpg/calina.jpg" rel="imageModal" title="<a href='http://calinasafaris.com'>Calina Tours & Safaris</a>" target="_blank" >
			<img src="uploads/default/files/portfolio/jpg/calina.jpg">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>

	<div class="box photo col3">
		<a href="uploads/default/files/portfolio/png/chandarana.png" rel="imageModal" title="<a href='http://chandaranasupermarkets.co.ke/cart/'>Chandarana Foodplus Supermarkets</a>" target="_blank" >
			<img src="uploads/default/files/portfolio/png/chandarana.png">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>

	<div class="box photo col3">
		<a href="uploads/default/files/portfolio/jpg/paygate2.jpg" rel="imageModal" title="<a href='https://www.paygate-ea.com'>PayGate East Africa</a>" target="_blank" >
			<img src="uploads/default/files/portfolio/jpg/paygate2.jpg">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>

	<div class="box photo col3">
		<a href="uploads/default/files/portfolio/jpg/theflowerspple.jpg" rel="imageModal" title="<a href='http://theflowerpeople.co.ke'>The Flower People - Kenya</a>" target="_blank" >
			<img src="uploads/default/files/portfolio/jpg/theflowerspple.jpg">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>

	<div class="box photo col3">
		<a href="uploads/default/files/portfolio/jpg/aldis2.jpg" rel="imageModal" title="<a href='http://www.aldisconsult.com'>Aldis Consultants Limited</a>" target="_blank" >
			<img src="uploads/default/files/portfolio/jpg/aldis2.jpg">
			<div class="overlay"></div>
            <div class="gallery-zoom"></div>
        </a>
	</div>
	
	<div class="box photo col3">
		<a href="uploads/default/files/portfolio/jpg/snow.jpg" rel="imageModal" title="<a href='http://snowinternationalltd.com'>Snow International Trading LTD</a>" target="_blank" >
			<img src="uploads/default/files/portfolio/jpg/snow.jpg">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>
	
</div> <!-- #container -->