<div id="container" class="clearfix centered"> 

	<div class="box photo col3">
		<a href="uploads/default/files/homepage_portfolio/2.png" rel="imageModal" title="" target="_blank" >
			<img src="uploads/default/files/homepage_portfolio/2.png">
			<div class="overlay"></div>
            <div class="gallery-zoom"></div>
        </a>
	</div>

	<div class="box photo col3">
		<a href="uploads/default/files/homepage_portfolio/3.png" rel="imageModal" title="" target="_blank" >
			<img src="uploads/default/files/homepage_portfolio/3.png">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>

	<div class="box photo col3">
		<a href="uploads/default/files/homepage_portfolio/4.jpg" rel="imageModal" title="" target="_blank" >
			<img src="uploads/default/files/homepage_portfolio/4.jpg">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>

	<div class="box photo col3">
		<a href="uploads/default/files/homepage_portfolio/6.jpg" rel="imageModal" title="" target="_blank" >
			<img src="uploads/default/files/homepage_portfolio/6.jpg">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>
	
	<div class="box photo col3">
		<a href="uploads/default/files/homepage_portfolio/5.jpg" rel="imageModal" title="" target="_blank" >
			<img src="uploads/default/files/homepage_portfolio/5.jpg">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>
	
	<div class="box photo col3">
		<a href="uploads/default/files/homepage_portfolio/1.png" rel="imageModal" title="" target="_blank" >
			<img src="uploads/default/files/homepage_portfolio/1.png">
			<div class="overlay"></div>
	        <div class="gallery-zoom"></div>
        </a>
	</div>
</div> <!-- #container -->